@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
#contacto {
  background-image: url("../images/fondo-contacto.png");
  background-size: cover;
           }

#inicio {
          background-image: url("../images/cohete.svg");
          background-size: 400px;
          background-repeat: no-repeat;
          background-position: 500px 108px;
        }
#proyectos{
           background-image: url("../images/fondo-proyectos.png"); 
           background-size: cover;
           padding-bottom: 34%;
}
h1 {
  color: #e20000;
  font-size: 36px;
  font-weight: bold;
}
    
.proyecto h2{ 
              font-size: 16px;
              text-transform: uppercase;
              color: white;
              background: rgb(125,7,7);
              background: linear-gradient(90deg, rgba(125,7,7,1) 0%, rgba(215,11,11,1) 100%);
              padding: 16px;
}
.proyecto img{
               height: 212px;
}
p{
  color: #6a6a6a;
  text-align: justify;
}
.proyecto p{ 
          font-size: 14px;
          color: #6a6a6a;
          height: 100px;
        }
textarea {
           height: 150px; 
}

footer {
  color: white;
}
footer a{
  color: white;
  font-size: 16px;
}
.btn { color: #370a6d ; 
       background-color: white;
       border-radius: 20px;
      
}

.btn:hover {
       color: white;
       background-color: #370a6d; 
}
.btn-rojo {
          background-color: #E20000;
          border-radius: 20px;
          font-weight: 100;
          color: white;
        }

footer .fa-linkedin-in {
  color: #ff4a49;
  background-color: white;
  padding: 5px;
  font-size: 25px;
  border-radius: 10px;
  border-bottom: 10px;
 }

 footer .fa-whatsapp{
  color: white;
  position: fixed;
  right: 70px;
  bottom: 0px;
  font-size: 31px;
  background-color: #370a6d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
 }

 footer .fa-github {
  color: #ff4a49;
  background-color: white;
  padding: 5px;
  font-size: 25px;
  border-radius: 20px;
  border-bottom: 10px;
}

.link-rojo{
             font-size: 14px;
             color: #e20000;

}

.btn-proyecto{
               font-size: 14px;
               border-radius: 20px;
               background-color: #E20000;
               padding: 8px;
               margin: 14px;
               color: white;
               text-decoration: none;
               font-weight: 100;
}

#proyectos footer{
                   
}