@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
#contacto {
  background-image: url("../images/fondo-contacto.png");
  background-size: cover;
}
#inicio {
          background-image: url("../images/cohete.svg");
          background-size: 400px;
          background-repeat: no-repeat;
          background-position: 500px 108px;
        }
#proyectos{
           background-image: url("../images/fondo-proyectos.png"); 
           background-size: cover;
}


h1 {
  color: #e20000;
  font-size: 36px;
  font-weight: bold;
}
p{
  color: #6a6a6a;
}
footer {
  color: white;
}
footer a{
  color: white;
}
.btn { color: #370a6d ; 
       background-color: white ;
}
.btn:hover {
       color: white;
       background-color: #370a6d; 
}
footer .fa-linkedin-in {
  color: #ff4a49;
  background-color: white;
  font-size: 20px;
  border: 0;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 80px;
  padding: 8px 0 0 0;
  margin: 0 8px;
 }

 footer .fa-whatsapp{
  color: #ff4a49;
  background-color: white;
  font-size: 20px;
  border: 0;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 80px;
  padding: 8px 0 0 0;
  margin: 0 8px;
 }
